*{
    font-size: 30px;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* .infos{
    width: 50%;
    display: flex;
    justify-content: space-between;
} */

.i1, .i2{
    width: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Cabeça {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;   
}

#img_redonda {
    height: 200px;
    width: 200px;
    border-radius: 50%;
}
    
/* .about {
    display: flex;
    justify-content: center;   
    text-align: center
} */

.Referência {
    display: flex;
    justify-content: center;
    text-align: center
}